flask
flask-cloudflared
flask-cors
flask-compress
markdown
black
Pillow==9.5.0
colorama
webuiapi
transformers  
diffusers  
silero-api-server  
chromadb  
sentence_transformers  
edge-tts  
selenium  
huggingface-hub  
fastapi  
wxpython; sys_platform == 'win32' or sys_platform == 'darwin'
